/*==================== BUTTONS ====================*/
.button{
    display: inline-block;
    background-color: $first-color;
    color: #fff;
    border-radius: .5rem;
    padding: 1rem;
    font-weight: $font-medium;

    &:hover{
        background-color: $first-color-alt;
    }
}


.button--flex{
    display: inline-flex;
    align-items: center;
}

.button__icon{
    font-size: 1.25rem;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: $mb-0-5;
    transition: .3s;
}