/*==================== REUSABLE CSS CLASSES ====================*/

.section{
    padding: 2rem 0 4rem;
}

.section__title{
    font-size: $h1-font-size;
}

.section__subtitle{
    display: block;
    font-size: $small-font-size;
    margin-bottom: $mb-3;
}

.section__title, .section__subtitle{
    text-align: center;
}

/*==================== LAYOUT ====================*/
.container{
    max-width: 768px;
    margin-left: $mb-1-5;
    margin-right: $mb-1-5;
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: $z-fixed;
    background-color: $body-color;
}